<html>
  <form method="POST">
    <% if File.exists?(Accelerator.brakefile_name) %>
      <p>Hit Unlock button below to unlock the site</p>
      <input name="command" type="submit" value="Unlock"/>
    <% else %>
      <p>Hit Lock button below to lock the site</p>
      <input name="command" type="submit" value="Lock"/>
    <% end %>
  </form>
</html>
